body {
  position: relative;
}
.bloque-1 {
  width: 430px;
  height: 150px;
  background-color: rgb(209, 209, 209);
  top: 8.5rem;
  left: 1.5rem;
  position: absolute;
  z-index: 30;
}
.bloque-2 {
  width: 350px;
  height: 500px;
  background-color: rgb(95, 223, 95);
  position: relative;
  top: 3rem;
  left: 4rem;
  z-index: 10;
}
.hijo-1 {
  width: 320px;
  height: 130px;
  background-color: rgb(56, 179, 250);
  position: absolute;
  top: 11rem;
  left: 1rem;
  z-index: 20;
}
.hijo-2 {
  width: 200px;
  height: 380px;
  background-color: rgb(231, 99, 231);
  position: absolute;
  top: 4rem;
  left: 7.4rem;
  z-index: 10;
}
.hijo-3 {
  width: 250px;
  height: 120px;
  background-color: pink;
  position: absolute;
  top: 23rem;
  left: 5.5rem;
}

.bloque-3 {
  width: 500px;
  height: 150px;
  background-color: rgb(240, 240, 42);
  top: 28rem;
  position: absolute;
}